In [1]:
import pandas as pd         
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express   
import snowflake.connector

In [5]:
df = pd.read_csv('../data/demo.csv')

In [6]:
df.head()

   purchase_id  user_id  purchase_amount purchase_date
0            1        1              100    2021-01-01
1            2        2              200    2021-01-02
2            3        3              300    2021-01-03
3            4        4              400    2021-01-04
4            5        5              500    2021-01-05